*{
	margin: 0px;
	padding: 0px;
	font-family: "Arial";
	list-style: none;
	text-decoration: none;
}

.img1
{
	background: url("img/1.jpg");
	background-size: 100% 100%;
	width: auto;
    height:auto;
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    z-index: 0;
}
.img2
{
	background: url("img/2.jpeg");
	background-size: 100% 100%;
	width: auto;
    height:auto;
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    z-index: 0;
}
.img3
{
	background: url("img/3.jpeg");
	background-size: 100% 100%;
	width: auto;
    height:auto;
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    z-index: 0;
}
.img4
{
	background: url("img/4.jpeg");
	background-size: 100% 100%;
	width: auto;
    height:auto;
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    z-index: 0;
}


.overlay
{
	background: -webkit-linear-gradient(50deg, rgba(215, 98, 151, .85), rgba(38, 185, 154, .85)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(50deg, rgba(215, 98, 151, .85), rgba(38, 185, 154, .85)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(50deg, rgba(215, 98, 151, .85), rgba(38, 185, 154, .85)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(50deg, rgba(215, 98, 151, .85), rgba(38, 185, 154, .85)); /* Standard syntax */
	width: 100%;
	height: 100%;
	padding-top: 2%;
	width: auto;
    height:auto;
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    z-index: 1;
    text-align: center;
    top: 0%;

}

.log-line
{
	width: 2px;
	background-color: #b7cbcb;
	min-height: 50px;
	max-height: 50px;
	display: inline-block;
	margin-top: 15px;
}

.logo
{
	vertical-align: bottom;
	display: inline-flex;
	height: 80px;
}

.logo img:nth-child(3)
{
	padding-top: 13px;
	padding-bottom: 13px;
}
.logo img
{
	opacity: .9;	
	width: 110px;
	padding-left: 15px;
	padding-right: 15px;
}	

.college-login
{
	font-size: 50px;
	color: #cbe5fe;
	font-weight: bolder;
	padding: 0px;
	margin: 0px;
	display: block;
}

.title-login
{
	margin-top: -20px;
	font-size: 1.8em;
	color: #cbe5fe;
	display: block;
}

.login
{
	margin-top: 2%;
	background-color: #eef9f5;
	width: 36%;
	height: 270px;
	margin-left: 32%;
	margin-right: 32%;
	text-align: left;
	padding: 5%;
	padding-top: 2%;
	padding-bottom: 2%;

}

.log-forgot
{
	width: 36%;
	margin-left: 32%;
	margin-right: 32%;
	text-align: left;
	padding: 5px;
	color: #cce6ff;
	font-size: 16px;
}

.log-footer
{
	text-align: left;
	padding-top: 4%;
	padding-left: .5%;
	color: #cce6ff;
	font-size: 15px;
}

.login p
{
	color: #afb4b8;
	font-size: 30px;
	font-weight: lighter;
}

.login input[type="text"]
{
	border: 2px solid #b2b2b2;
	border-radius: 7px;
	background-color: transparent;
	outline: none;
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	height: 40px;
	color: #b2b2b2;
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.login input[type="password"]
{
	border: 2px solid #b2b2b2;
	border-radius: 7px;
	background-color: transparent;
	outline: none;
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	height: 40px;
	color: #b2b2b2;
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.login input[type="submit"]
{
	background-color: #13c879;
	border-radius: 5px;
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 2px solid #169f85;
	color: #eef9f5;
	width: 100%;
	height: 40px;

}

.login input[type="submit"]:hover
{
	background-color: #2da58b;
}


.wrapper
{
	width: 100%;
	margin: 0 auto;
}



/*admin panel sidebar desktop*/

.sidebar-desktop
{
	width: 240px;
	background-color: #2a3f54;
	height: 100%;
	overflow: scroll;
	overflow-x: hidden; 
	float: left;
	color: #ecf0f1;
}


.sidebar-desktop::-webkit-scrollbar {
    width: 10px;
}
 
.sidebar-desktop::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.sidebar-desktop::-webkit-scrollbar-thumb {
  background-color: #243648;
}

.sidebar-desktop > .sidebar-header
{
	padding: 10px;
	display: inline-flex;
}

.sidebar-desktop > .sidebar-header > .sidebar-title
{
	font-weight: bolder;
	font-size: 20px;
	padding-top: 10px;
	padding-left: 10px;
}
.sidebar-desktop > .sidebar-header img
{
	width: 50px;
	height: 50px;
}

.sidebar-desktop > .sidebar-profile
{
	padding: 10px;
	font-size: 15px;
}

.sidebar-desktop > .sidebar-profile img
{
	border-radius: 50%;
	border-image-outset: 10px;
	border: 5px solid #ecf0f1;
	overflow: hidden;
	display: inline-block;
}

.sidebar-desktop > .sidebar-profile span
{
	padding-top: 11px;
	padding-left: 15px;
	display: inline-block;
	vertical-align: top;
}

.sidebar-desktop > .sidebar-profile span div:first-child
{
	color: #9ab8b4;
	font-size: 14px;
	padding-bottom: 5px;
}

.sidebar-desktop > .menu
{
	font-size: 12px;
	font-weight: bolder;
	padding: 15px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.sidebar-desktop > ul > .sidebar-options
{
	cursor: pointer;
}

.sidebar-desktop > ul > .sidebar-options > div
{
	padding: 15px;
	width: 200px;
	display: inline-flex;
	background-color: #2a3f54;
}

.sidebar-desktop > ul > .sidebar-options:hover .sidebar-name
{
	border-top: 1px solid #536271;
	border-bottom: 1px solid #202f3f;
	padding-top: 14px;
	padding-bottom: 14px;	
}

.sidebar-desktop > ul > .sidebar-options:hover .dropdown
{
	max-height: 300px;
}

.sidebar-desktop > ul > .sidebar-options > .dropdown
{
	max-height: 0px;
	overflow: hidden;
	border-right: 5px solid #1abb9c;
	-webkit-transition: max-height 0.3s;
	-moz-transition: max-height 0.3s;
	transition: max-height 0.3s;
	padding-left: 20px;
}

.sidebar-desktop > ul > .sidebar-options > .dropdown li
{
	font-size: 12px;
	padding: 10px;
}

.sidebar-desktop > ul > .sidebar-options > .dropdown > .drop-title
{
	display: none;
}

.sidebar-desktop > ul > .sidebar-options > .dropdown li a
{
	text-decoration: none;
	color: #ecf0f1;
	padding-left: 10px;
	display: inline-flex;
	width: 165px;
}

.sidebar-desktop > ul > .sidebar-options > .dropdown li:hover
{
	background-color: #34485c;
}

.sidebar-desktop > ul > .sidebar-options > .sidebar-name > .icon
{
	min-width: 20px;
}



.sidebar-desktop > ul > .sidebar-options > .sidebar-name > .sidebar-menu
{
	font-size: 13px;
	font-weight: bolder;
	padding-left: 10px;
	vertical-align: middle;
	min-width: 160px;
}


/*admin panel sidebar mobile*/

.sidebar-mobile
{
	width: 70px;
	background-color: #2a3f54;
	height: 100%;
	float: left;
	color: #ecf0f1;
}

.sidebar-mobile > .sidebar-header
{
	padding: 10px;
}

.sidebar-mobile > .sidebar-header > .sidebar-title
{
	font-weight: bolder;
	font-size: 20px;
	padding-top: 10px;
	padding-left: 10px;
	display: none;
}
.sidebar-mobile > .sidebar-header img
{
	width: 50px;
	height: 50px;
}

.sidebar-mobile > .sidebar-profile
{
	display: none;
	padding: 10px;
	font-size: 15px;
}

.sidebar-mobile > .sidebar-profile img
{
	border-radius: 50%;
	border-image-outset: 10px;
	border: 5px solid #ecf0f1;
	overflow: hidden;
	display: inline-block;
}

.sidebar-mobile > .sidebar-profile span
{
	padding-top: 11px;
	padding-left: 15px;
	display: inline-block;
	vertical-align: top;
}

.sidebar-mobile > .sidebar-profile span div:first-child
{
	color: #9ab8b4;
	font-size: 14px;
	padding-bottom: 5px;
}

.sidebar-mobile > .menu
{
	font-size: 12px;
	font-weight: bolder;
	padding: 15px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.sidebar-mobile > ul > .sidebar-options
{
	cursor: pointer;
	display: inline-flex;
}

.sidebar-mobile > ul > .sidebar-options > div
{
	padding: 15px;
	padding-left: 12px;
	width: 40px;
	display: inline-flex;
	background-color: #2a3f54;
	display: block;
}

.sidebar-mobile > ul > .sidebar-options:hover .sidebar-name
{
	border-top: 1px solid #536271;
	border-bottom: 1px solid #202f3f;
	padding-top: 14px;
	padding-bottom: 14px;
	width: 38px;
	border-right: 5px solid #1abb9c;	
}

.sidebar-mobile > ul > .sidebar-options:hover .dropdown
{
	display: block;	
}

.sidebar-mobile > ul > .sidebar-options > .dropdown
{
	float: right;
	position: absolute;
	z-index: 1;
	left: 70px;
	background-color: #2a3f54;
	display: none;
	-webkit-transition: max-height 0.3s;
	-moz-transition: max-height 0.3s;
	transition: max-height 0.3s;
}

.sidebar-mobile > ul > .sidebar-options > .dropdown li
{
	font-size: 12px;
}

.sidebar-mobile > ul > .sidebar-options > .dropdown > .drop-title
{
	padding: 10px;
	font-weight: bolder;
	padding-left: 18px;
	padding-bottom: 8px;
	font-size: 14px;
}

.sidebar-mobile > ul > .sidebar-options > .dropdown > .drop-title:hover
{
	background-color: #2a3f54;
	cursor: default;
}

.sidebar-mobile > ul > .sidebar-options > .dropdown li span
{
	display: none;
}

.sidebar-mobile > ul > .sidebar-options > .dropdown li a
{
	text-decoration: none;
	color: #ecf0f1;
	padding: 10px;
	padding-left: 20px;
	display: inline-flex;
	width: 165px;
}

.sidebar-mobile > ul > .sidebar-options > .dropdown li:hover
{
	background-color: #34485c;
}

.sidebar-mobile > ul > .sidebar-options > .sidebar-name > .icon
{
	min-width: 40px;
	display: block;
	text-align: center;
}

.sidebar-mobile > ul > .sidebar-options > .sidebar-name >.drop-btn
{
	height: 0px;
	visibility: hidden;
}

.sidebar-mobile > ul > .sidebar-options > .sidebar-name > .sidebar-menu
{
	font-size: 9px;
	font-weight: bolder;
	vertical-align: middle;
	min-width: 160px;
	display: none;
}

/*header*/

.header
{
	background-color: #ededed;
	height: 9%;
	border: 1px solid #d9dee4;
	width: auto;
}

.header-bar
{
	color: #5a738e;
	padding: 12px;
	cursor: pointer;
}
.header-bar:hover
{
	color: #2a3f54;
}

.dropdown-header
{
	display: inline-block;
	font-size: 14px;
	width: 14%;
	height: 73%;
	float: right;
	padding-top: 1.2%;
	text-align: center;
	color: #515356;
	vertical-align: top;
	cursor: pointer;

}

.dropdown-header img
{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.dropdown-header-name
{
	display: inline-block;
	vertical-align: top;
	padding-top: 3.5%;
	padding-left: 5%;
}

.dropdown-header span
{
	font-size: 9px;
	vertical-align: middle;
	padding-bottom: 12%;
	padding-left: 5%;
}

.dropdown-header-content
{
    position: absolute;
    background-color: #ffffff;
    min-width: 13.8%;
    z-index: 1;
    margin-top: 2px;
    border: 1px solid #d9dee4;
}

.dropdown-header-content a
{
	display: block;
	text-align: left;
	padding: 15px;
	color: #5a738e;
	font-size: 13px;
}

.dropdown-header-content p
{
	float: right;
}

.dropdown-header-content a:hover
{
	background-color: #f9f9f9;
	color: #515356;
}

.hidden
{
	display: none;
}

.dropdown-focused
{
	background-color: #d9dee4;
}

/*account*/

.account-form
{
	padding-left: 30%;
	padding-right: 30%;
}

.account-form label
{
	color: #73879c;
	font-weight: bold;
	font-size: 14px;
}

.account-form-id
{
	width: 100%;
	margin-top: 10px;
	border: 1px solid #cccccc;
	padding: 7px;
	color: #555555;
	outline: none;
	font-size: 15px;
}

.account-form-sel
{
	width: 100%;
	margin-top: 10px;
	border: 1px solid #cccccc;
	padding: 7px;
	color: #555555;
	outline: none;
	font-size: 15px;
}

.account-form-user
{
	width: 100%;
	margin-top: 10px;
	border: 1px solid #cccccc;
	padding: 7px;
	color: #555555;
	outline: none;
	font-size: 15px;
}

.account-form-pass
{
	width: 100%;
	margin-top: 10px;
	border: 1px solid #cccccc;
	padding: 7px;
	color: #555555;
	outline: none;
	font-size: 15px;
}

.reset-btn
{
	background-color: #337ab7;
	border: 1px solid #2e6da4;
	float: right;
	width: 90px;
	text-align: center;
	padding: 7px;
	border-radius: 5px;
	color: #f1ffef;
	font-size: 13px;
	outline: none;
	margin-right: 3px;
	cursor: pointer;
}

.reset-btn:hover
{
	background-color: #256195;
}

.account-form input[type="submit"]
{
	margin-left: 3px;
	float: right;
	width: 100px;
	padding: 7px;
	background-color: #26b99a;
	border: 1px solid #169f85;
	border-radius: 5px;
	color: #f1ffef;
	outline: none;
	cursor: pointer;
}


.account-form input[type="submit"]:hover
{
	background-color: #2da58b;
}




/*content*/

.content
{
	width: auto;
	min-height: calc(91% - 42px);
	max-height: calc(91% - 42px);
	background-color: #f7f7f7;
	overflow: scroll;
	overflow-x: hidden;
	padding: 20px;
}

.content-header
{
	color: #73879c;
	font-size: 25px;
	font-weight: bolder;
	padding-bottom: 30px;
}



.content-tab
{
	display: inline-flex;
	float: right;
	vertical-align: middle;
}

.active-tab
{
	background-color: #ffffff;
	min-width: 140px;
	right: 100px;
	height: 35px;
	border-radius: 5px;
	border: 2px solid #d3d6da;
	border-right-width: 7px;
	border-bottom-width: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	outline: none;
	margin: 1px;
	margin-top: 6px;
	margin-bottom: 0px;
}

.inactive-tab
{
	background-color: #f5f7fa;
	min-width: 140px;
	right: 100px;
	height: 40px;
	border-radius: 5px;
	border: 2px solid #d3d6da;
	border-right-width: 7px;
	border-bottom-width: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	outline: none;
	margin: 1px;
	margin-bottom: 0px;
}

.inactive-tab:hover
{
	background-color: #ffffff;
}


.prompt-body
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
	top: 0;
	left: 0;
	display: none;
}

.prompt-box
{
	background-color: #FFFFFF;
	margin: 0 auto;
	margin-top: 110px;
	top: 50%;
	padding: 20px;
	display: none;
}

.prompt-box > p
{
	text-align: center;
	font-size: 20px !important;
}

.prompt-box > span
{
	text-align: center;
	font-size: 14px;
	color: #73879c;
	text-align: center;
	display: block;
	margin-bottom: 100px;
}

.prompt-box > div
{
	width: 250px;
	margin: 0 auto;
}

.prompt-box > div > input[type='submit']
{
	border-radius: 3px;
	color: #FFFFFF;
	border: 1px solid #169f85;
	background-color: #26b99a;
	font-size: 15px;
	width: 100px;
	height: 35px;
	outline: none;
	cursor: pointer;
	margin-bottom: 1px;
	margin-top: 1px;
	margin-right: 23px;
	display: inline-block;
	text-align: center;
}

.prompt-box > div > input[type='submit']:hover
{
	background-color: #169f85;
}

.prompt-box > div > button
{
	border-radius: 3px;
	color: #FFFFFF;
	border: 1px solid #d04031;
	background-color: #e85445;
	font-size: 15px;
	width: 100px;
	height: 35px;
	outline: none;
	cursor: pointer;
	margin-bottom: 1px;
	margin-top: 1px;
	margin-left: 22px;
	display: inline-block;
	text-align: center;
}

.prompt-box > div > button:hover
{
	background-color: #d04031;
}

.content-body
{
	clear: both;
	width: calc(100% - 30px);
	background-color: #ffffff;
	min-height: 200px;
	border: 1px solid #e6e9ed;
	padding: 15px;
	padding-bottom: 80px;
}

#college-view-body
{
	display: none;
}

#college-archive-body
{
	display: none;
}

#disaggregation-view-body
{
	display: none;
}

.content-body p
{
	font-size: 17px;
	color: #73879c;
	padding: 5px;
}

.content-line
{
	background-color: #e6e9ed;
	height: 2px;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.college-form-name
{
	width: 100%;
	margin-top: 10px;
	border: 1px solid #cccccc;
	padding: 7px;
	color: #555555;
	outline: none;
	font-size: 15px;
}

.college-form-al
{
	width: 100%;
	margin-top: 10px;
	border: 1px solid #cccccc;
	padding: 7px;
	color: #555555;
	outline: none;
	font-size: 15px;
}


.college-form-sel
{
	width: 100%;
	margin-top: 10px;
	border: 1px solid #cccccc;
	padding: 7px;
	color: #555555;
	outline: none;
	font-size: 15px;
}

.dep-form-sel
{
	width: 100%;
	margin-top: 10px;
	border: 1px solid #cccccc;
	padding: 7px;
	color: #555555;
	outline: none;
	font-size: 15px;
}

.college-form label
{
	color: #73879c;
	font-weight: bold;
	font-size: 14px;
}

.college-form input[type="submit"]
{
	margin-right: 3px;
	float: right;
	width: 150px;
	padding: 7px;
	background-color: #26b99a;
	border: 1px solid #169f85;
	border-radius: 5px;
	color: #f1ffef;
	outline: none;
	cursor: pointer;
}

.college-form input[type="submit"]:hover
{
	background-color: #2da58b;
}

.content-table
{
	border: 1px solid #dddddd;
	border-collapse: collapse;
	width: 100%;
	font-size: 14px;
	color: #73879C;
}

.content-table th
{
	border: 1px solid #dddddd;
	border-bottom-width: 3px;
	border-collapse: collapse;
	padding: 5px;
}


.content-table th:first-child
{
	border: 1px solid #dddddd;
	border-bottom-width: 3px;
	border-collapse: collapse;
	width: 60%;
}

.content-table th:last-child
{
	border: 1px solid #dddddd;
	border-bottom-width: 3px;
	border-collapse: collapse;
	width: 10%;
}



.content-table td
{
	padding: 5px;
	border: 1px solid #dddddd;
	border-collapse: collapse;
	text-align: center;
}

.content-table .row-2
{
	background-color: #f9f9f9;
}

.tbl-edit
{
	border-radius: 3px;
	color: #FFFFFF;
	border: 1px solid #2e6da4;
	background-color: #337ab7;
	font-size: 12px;
	padding: 4px;
	outline: none;
	cursor: pointer;
	margin-bottom: 1px;
	margin-top: 1px;
}

.tbl-edit:hover
{
	background-color: #2e6da4;
}

.tbl-del
{
	border-radius: 3px;
	color: #FFFFFF;
	border: 1px solid #d04031;
	background-color: #e85445;
	font-size: 12px;
	padding: 4px;
	outline: none;
	cursor: pointer;
	margin-bottom: 1px;
	margin-top: 1px;
}

.tbl-del:hover
{
	background-color: #d04031;
}

.sd-table
{
	border: 1px solid #dddddd;
	border-collapse: collapse;
	width: 100%;
	font-size: 14px;
	color: #73879C;
}

.sd-table th
{
	border: 1px solid #dddddd;
	border-bottom-width: 3px;
	border-collapse: collapse;
	padding: 5px;
}

.sd-table td
{
	padding: 5px;
	border: 1px solid #dddddd;
	border-collapse: collapse;
	text-align: center;
}

.sd-table .row-2
{
	background-color: #f9f9f9;
}


.account-table
{
	border: 1px solid #dddddd;
	border-collapse: collapse;
	width: 100%;
	font-size: 14px;
	color: #73879C;
}

.account-table th
{
	border: 1px solid #dddddd;
	border-bottom-width: 3px;
	border-collapse: collapse;
	padding: 5px;
}

.account-table td
{
	padding: 5px;
	border: 1px solid #dddddd;
	border-collapse: collapse;
	text-align: center;
}

.account-table .row-2
{
	background-color: #f9f9f9;
}

.error
{
	color: #e85445;
	font-size: 12px;
	margin: 5px;
	margin-left: 10px;
}



.success-box
{
	background-color: #1abb9c;
	opacity:    .4;
	border-radius: 5px;
	padding: 1%;
	padding-right: 1.5%;
	border: 1px solid #364c60;
  	margin-left: 78%;
  	margin-top: 4.8%;
  	width:      18%;
  	height:     6%; 
  	z-index:    10;
  	font-size: 13px;
  	top:        0; 
  	left:       0; 
  	position:   fixed;
  	visibility: hidden;
  	color: #e9edef;
}

.success-box-acc
{
	background-color: #1abb9c;
	opacity:    .4;
	border-radius: 5px;
	padding: 1%;
	padding-right: 1.5%;
	border: 1px solid #364c60;
  	margin-left: 78%;
  	margin-top: 4.8%;
  	width:      18%;
  	height:     6%; 
  	z-index:    10;
  	font-size: 13px;
  	top:        0; 
  	left:       0; 
  	position:   fixed;
  	color: #e9edef;
}

.success-close
{
	float: right;
	margin-top: -3%;
	margin-right: -4%;
	cursor: pointer;
}

.success-box:hover
{
	opacity: .8;
}
.success-box-acc:hover
{
	opacity: .8;
}


/*wizard*/

.wizard
{
	width: 80%;
	padding: 10%;
	padding-top: 3%;
	padding-bottom: 3%;
	min-height: 100%;
	background-color: #f7f7f7;
}

.wizard-header
{
	color: #73879c;
	font-size: 30px;
	font-weight: bolder;
	padding-bottom: 30px;
}

.wizard-body
{
	clear: both;
	width: calc(100%-30px);
	background-color: #ffffff;
	min-height: 200px;
	border: 1px solid #e6e9ed;
	padding: 15px;
	padding-bottom: 80px;
}

.wizard-title
{
	font-size: 17px;
	color: #73879c;
	padding: 5px;
}

.wizard-inst
{
	font-size: 13px;
	color: #73879c;
	padding: 5px;
}

.wizard-tabs
{
	width: 80%;
	padding: 10%;
	padding-top: 2%;
	padding-bottom: 1%;
}


.wizard-tab1
{
	display: inline-block;
	cursor: pointer;
}
.wizard-tab1 > .tabs1:first-child
{
	width: 40px;
	height: 28px;
	padding-top: 12px;
	border-radius: 50%;
	background-color: #34495e;
	border: none;
	font-size: 14px;
	color: #ffffff;
	display: inline-block;
	text-align: center;
}
.wizard-tab1 > .tabs1:last-child
{
	width: 115px;
	height: 4px;
	margin-bottom: 3px;
	margin-left: -4.5px;
	margin-right: -4.5px;
	background-color: #34495e;
	display: inline-block;
}

.wizard-tab2
{
	display: inline-block;
	cursor: pointer;
}
.wizard-tab2 > .tabs2:first-child
{
	
	width: 115px;
	height: 4px;
	margin-bottom: 3px;
	margin-left: -4.5px;
	margin-right: -4.5px;
	background-color: #1abb9c;
	display: inline-block;
}
.wizard-tab2 > .tabs2:nth-child(2)
{
	width: 40px;
	height: 28px;
	padding-top: 12px;
	border-radius: 50%;
	background-color: #1abb9c;
	border: none;
	font-size: 14px;
	color: #ffffff;
	display: inline-block;
	text-align: center;
}
.wizard-tab2 > .tabs2:last-child
{
	width: 115px;
	height: 4px;
	margin-bottom: 3px;
	margin-left: -4.5px;
	margin-right: -4.5px;
	background-color: #1abb9c;
	display: inline-block;
}




.wizard-tab3
{
	display: inline-block;
	cursor: pointer;
}
.wizard-tab3 > .tabs3:first-child
{
	
	width: 115px;
	height: 4px;
	margin-bottom: 3px;
	margin-left: -4.5px;
	margin-right: -4.5px;
	background-color: #1abb9c;
	display: inline-block;
}
.wizard-tab3 > .tabs3:nth-child(2)
{
	width: 40px;
	height: 28px;
	padding-top: 12px;
	border-radius: 50%;
	background-color: #1abb9c;
	border: none;
	font-size: 14px;
	color: #ffffff;
	display: inline-block;
	text-align: center;
}
.wizard-tab3 > .tabs3:last-child
{
	width: 115px;
	height: 4px;
	margin-bottom: 3px;
	margin-left: -4.5px;
	margin-right: -4.5px;
	background-color: #1abb9c;
	display: inline-block;
}




.wizard-tab4
{
	display: inline-block;
	cursor: pointer;
}
.wizard-tab4 > .tabs4:first-child
{
	
	width: 115px;
	height: 4px;
	margin-bottom: 3px;
	margin-left: -4.5px;
	margin-right: -4.5px;
	background-color: #1abb9c;
	display: inline-block;
}
.wizard-tab4 > .tabs4:last-child
{
	width: 40px;
	height: 28px;
	padding-top: 12px;
	border-radius: 50%;
	background-color: #1abb9c;
	border: none;
	font-size: 14px;
	color: #ffffff;
	display: inline-block;
	text-align: center;
}





.wizard-tab5
{
	display: inline-block;
	cursor: pointer;
}
.wizard-tab5 > .tabs5:first-child
{
	width: 80px;
	height: 4px;
	margin-bottom: 3px;
	margin-left: -4.5px;
	margin-right: -4.5px;
	background-color: #1abb9c;
	display: inline-block;
}
.wizard-tab5 > .tabs5:last-child
{
	width: 40px;
	height: 28px;
	padding-top: 12px;
	border-radius: 50%;
	background-color: #1abb9c;
	border: none;
	font-size: 14px;
	color: #ffffff;
	display: inline-block;
	text-align: center;
}

.wizard-desc
{
	width: 88%;
	padding: 6%;
	padding-top: 0%;
	padding-bottom: 0%;
}

.desc1
{
	color: #73879c;
	font-size: 12px;
}
.desc2
{
	margin-left: 29.5%;
	color: #73879c;
	font-size: 12px;
	display: none;
}
.desc3
{
	margin-left: 57%;
	color: #73879c;
	font-size: 12px;
	display: none;
}
.desc4
{
	margin-left: 85.5%;
	color: #73879c;
	font-size: 12px;
	display: none;
}
.wizard-content1
{
	width: 80%;
	margin-top: 2%;
	margin-left: 10%;
	margin-right: 10%;
	height: 420px;
	display: block;
}

.wizard-content1 div
{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.wizard-content2 div
{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.wizard-content3 div
{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.wizard-content4 div
{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.wizard-content1 label
{
	color: #73879c;
	font-weight: bold;
	font-size: 14px;
}

.wiz-col-1
{
	display: inline-block;
	width: 250px;
	text-align: right;
}

.wiz-col-1 div
{
	height: 30px;
	display: block;
}

.wiz-col-1 label
{
	color: #73879c;
	font-weight: bold;
	font-size: 14px;
}

.wiz-col-2 div
{
	height: 30px;
	display: block;
}

.wiz-col-2 label
{
	color: #73879c;
	font-weight: bold;
	display: inline-block;
	margin-right: 25px;
	margin-left: 20px;
	font-size: 14px;
}

.wiz-col-2
{
	display: inline-block;
	width: 500px;
}

.wizard-input-fname
{
	border: 1px solid #cccccc;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	color: #555555;
	font-size: 14px;
	width: 450px;
}
.wizard-input-mname
{
	border: 1px solid #cccccc;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	color: #555555;
	font-size: 14px;
	width: 450px;
}
.wizard-input-lname
{
	border: 1px solid #cccccc;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	color: #555555;
	font-size: 14px;
	width: 245px;
}
.wizard-input-sfx
{
	border: 1px solid #cccccc;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	color: #555555;
	font-size: 14px;
	width: 110px;
}

.wizard-input-sex
{
	border: 1px solid #cccccc;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	color: #555555;
	font-size: 14px;
	display: inline-block;
	width: 125px;
}

.wizard-input-rel
{
	border: 1px solid #cccccc;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	color: #555555;
	font-size: 14px;
	display: inline-block;
	width: 154px;
}

.wizard-input-des
{
	border: 1px solid #cccccc;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	color: #555555;
	font-size: 14px;
	display: inline-block;
	width: 154px;
}


.wizard-input-add
{
	border: 1px solid #cccccc;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	color: #555555;
	font-size: 14px;
	width: 450px;
}

.wizard-input-eadd
{
	border: 1px solid #cccccc;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	color: #555555;
	font-size: 14px;
	width: 450px;
}

.wizard-input-oadd
{
	border: 1px solid #cccccc;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	color: #555555;
	font-size: 14px;
	width: 450px;
}


.wizard-input-info
{
	border: 1px solid #cccccc;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	color: #555555;
	font-size: 14px;
	width: 200px;
}

.wizard-input-tel
{
	border: 1px solid #cccccc;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	color: #555555;
	font-size: 14px;
	width: 147px;
}

.wizard-input-cp
{
	border: 1px solid #cccccc;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	color: #555555;
	font-size: 14px;
	width: 147px;
}

.wizard-input-travel
{
	border: 1px solid #cccccc;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 17px;
	height: 20px;
	color: #555555;
	font-size: 14px;
	width: 20px;
}

.dur-lbl
{
	padding-right: 316px;
}
.travel-lbl
{
	padding-right: 100px;
}

.dur-from
{
	border: 1px solid #cccccc;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	color: #555555;
	font-size: 14px;
	width: 113px;
}

.dur-to
{
	border: 1px solid #cccccc;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	color: #555555;
	font-size: 14px;
	width: 113px;
}

.calendar
{
	border: 1px solid #cccccc;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	color: #555555;
	font-size: 14px;
	width: 241px;
}



.ui-datepicker {
	width: 280px;
	height: auto;
	margin: 5px auto 0;
	font: 9pt Arial, sans-serif;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}
.ui-datepicker a {
	text-decoration: none;
}
.ui-datepicker table {
	width: 100%;
}

.ui-datepicker-header {
	background-color:  #1abb9c;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bolder;
	line-height: 30px;
	height: 40px;
	padding-top: 15px;
	padding-left: 5px;
	padding-right: 5px;
}

.ui-datepicker-title {
	text-align: center;
}

.ui-datepicker-prev 
{
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	cursor: pointer;
	background-image: url('img/left.png');
	background-size: 100% 100%;
	line-height: 600%;
	background-repeat: no-repeat;
	overflow: hidden;
}
.ui-datepicker-next
{
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	cursor: pointer;
	background-image: url('img/right.png');
	background-size: 100% 100%;
	line-height: 600%;
	background-repeat: no-repeat;
	overflow: hidden;
}

.ui-datepicker-prev {
	float: left;
	background-position: center 0px;
}
.ui-datepicker-next {
	float: right;
	background-position: center 0px;
}

.ui-datepicker thead {
	background-color: #FFFFFF;
	color: #1abb9c;
}


.ui-datepicker
{
	background-color: #FFFFFF;
}

.ui-datepicker-month
{
	font-size: 16px;
	width: 60px;
	color: #FFFFFF;
	border: 1px solid #1abb9c;
	outline: none;
	padding: 4px;
	background-color: #1abb9c;
}

.ui-datepicker-year
{
	font-size: 16px;
	width: 70px;
	color: #FFFFFF;
	border: 1px solid #1abb9c;
	outline: none;
	padding: 4px;
	background-color: #1abb9c;
}

.ui-datepicker-year:focus
{
	color: #73879c;
	background-color: #FFFFFF
}

.ui-datepicker-month:focus
{
	color: #73879c;
	background-color: #FFFFFF
}

.ui-datepicker tbody td 
{
	padding: 5;
	padding-left: 5px;
	text-align: center;
	cursor: pointer;
}

.ui-datepicker tbody td a
{
	color: #1abb9c;

}



.ui-datepicker tbody td:hover
{
	background-color: #1abb9c;
}

.ui-datepicker tbody td:hover a
{
	color: #FFFFFF;
}

.ui-datepicker-other-month
{
	color: #c6e2dd;
}

.ui-datepicker-other-month:hover
{
	background-color: #FFFFFF;
}


.wizard-content2 div
{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.wizard-content2 label
{
	color: #73879c;
	font-weight: bold;
	font-size: 14px;
}

.educ-wiz-col-1
{
	display: inline-block;
	width: 200px;
	text-align: right;
}

.educ-wiz-col-1 div
{
	height: 30px;
	display: block;
}

.educ-wiz-col-1 label
{
	color: #73879c;
	font-weight: bold;
	font-size: 14px;
}

.educ-wiz-col-2 div
{
	height: 30px;
	display: block;

}
.educ-wiz-col-2 label
{
	color: #73879c;
	font-weight: bold;
	display: inline-block;
	margin-right: 25px;
	margin-left: 20px;
	font-size: 14px;
}

.educ-wiz-col-2
{
	display: inline-block;
	width: 580px;
}

.wizard-content2
{
	width: 80%;
	margin-top: 2%;
	margin-left: 10%;
	margin-right: 10%;
	display: none;
}

.wizard-content3
{
	width: 80%;
	margin-top: 2%;
	margin-left: 10%;
	margin-right: 10%;
	display: none;
}

.wizard-content4
{
	width: 80%;
	margin-top: 2%;
	margin-left: 10%;
	margin-right: 10%;
	display: none;
}

.wizard-content2 label
{
	color: #73879c;
	font-weight: bold;
	font-size: 14px;
}

.educ-cont div
{
	display: inline-block;
}

.educ-cont-add div
{
	display: inline-block;
}

.educ-title
{
	width: 100%;
	text-align: center;
	color: #73879c;
	font-size: 18px;
	font-weight: bold;
}


.wizard-input-level
{
	border: 1px solid #cccccc;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	color: #555555;
	font-size: 14px;
	width: 125px;
}
.wizard-input-school
{
	border: 1px solid #cccccc;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	color: #555555;
	font-size: 14px;
	width: 302px;
}
.wizard-input-degree
{
	border: 1px solid #cccccc;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	color: #555555;
	font-size: 14px;
	width: 345px;
}

.wizard-input-grad
{
	border: 1px solid #cccccc;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	color: #555555;
	font-size: 14px;
	width: 100px;
}

.wizard-input-astart
{
	border: 1px solid #cccccc;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	color: #555555;
	font-size: 14px;
	width: 188px;
}

.wizard-input-afinish
{
	border: 1px solid #cccccc;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	color: #555555;
	font-size: 14px;
	width: 188px;
}

.wiz-btn-add
{
	background-color: transparent;
	border-radius: 3px;
	margin-right: 25px;
	font-size: 14px;
	margin-top: 5px;
	padding-left: 12px;
	padding-top: 7px;
	margin-bottom: 5px;
	border: 1px solid #cccccc;
	color: #333333;
	width: 188px;
	height: 28px;
	cursor: pointer;
	float: right;
}
.wiz-btn-add:hover
{
	background-color: #EEEEEE;
}


.wiz-btns
{
	width: 100%;
	margin: 0 auto;
}


.wiz-next
{
	background-color: #1abb9c;
	border-radius: 3px;
	float: right;
	padding-top: 9px;
	padding-left: 24px;
	margin-right: 25px;
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #169f85;
	color: #eef9f5;
	width: 56px;
	cursor: pointer;
	height: 26px;
}


.disabled
{
	pointer-events: none;
	opacity: .5;
}



.wiz-prev
{
	background-color: #337ab7;
	border-radius: 3px;
	float: right;
	padding-top: 9px;
	padding-left: 12px;
	margin-right: 25px;
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #2e6da4;
	color: #eef9f5;
	width: 68px;
	height: 26px;
	cursor: pointer;
}

.wiz-finish
{
	background-color: transparent;
	border-radius: 3px;
	float: right;
	margin-right: 25px;
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #cccccc;
	color: #333333;
	width: 100px;
	height: 37px;
	cursor: pointer;
}

.wiz-finish:hover
{
	background-color: #EEEEEE;
}

.wiz-prev:hover
{
	background-color: #175286;
}

.wiz-next:hover:enabled
{
	background-color: #2da58b;
}

.disaggregation-input-text
{
	width: 100%;
	margin-top: 10px;
	border: 1px solid #cccccc;
	padding: 7px;
	color: #555555;
	outline: none;
	font-size: 15px;
}


.sex-col
{
	width: 24.61%;
	display: inline-block;
}

.sex-reset-btn
{
	background-color: #337ab7;
	border: 1px solid #2e6da4;
	float: right;
	width: 140px;
	text-align: center;
	padding: 7px;
	border-radius: 5px;
	color: #f1ffef;
	font-size: 13px;
	outline: none;
	margin-right: 3px;
	cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sex-submit-btn
{
	background-color: #26b99a;
	border: 1px solid #169f85;
	float: right;
	width: 140px;
	text-align: center;
	padding: 7px;
	border-radius: 5px;
	color: #f1ffef;
	font-size: 13px;
	outline: none;
	margin-right: 3px;
	cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sex-submit-btn:hover
{
	background-color: #2da58b;
}

.error-input
{
	border: 1px solid #e85445;
	background-color: #faedec;
	width: 100%;
	margin-top: 10px;
	padding: 7px;
	color: #555555;
	outline: none;
	font-size: 15px;
}

.sex-error
{
	color: #e85445;
	font-size: 12px;
	margin: 5px;
	margin-left: 10px;
	visibility: hidden;
	max-height: 0px;
}

.sd-data-error
{
	color: #e85445;
	font-size: 14px;
	margin-bottom: 10px;
	margin-left: 1px;
	visibility: hidden;
	max-height: 0px;
}

.sex-reset-btn:hover
{
	background-color: #256195;
}

.profile-header
{
	width: 40%;
	background: -webkit-linear-gradient(50deg, rgba(255, 62, 203, .75), rgba(37, 233, 175, .75)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(50deg, rgba(255, 62, 203, .75), rgba(37, 233, 175, .75)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(50deg, rgba(255, 62, 203, .75), rgba(37, 233, 175, .75)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(50deg, rgba(255, 62, 203, .75), rgba(37, 233, 175, .75));
	height: 58px;
	text-align: center;
	padding-top: 30px;
	padding-right: 30%;
	padding-left: 30%;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(100,100,100,0.75);
	-moz-box-shadow: 2px 2px 5px 0px rgba(100,100,100,0.75);
	box-shadow: 2px 2px 5px 0px rgba(100,100,100,0.75);
}

.profile-header > ul > li
{
	display: inline-block;
	padding-left: 9px;
	padding-right: 11px;
}

.profile-header > ul > li > a
{
	color: #FFFFFF;
	font-size: 25px;
}

.profile-header > ul > li:nth-child(-n+3)
{
	border-right: 2px solid #FFFFFF; 
}

.profile-body
{
	width: 100%;
	background-color: #f7f7f7;
}

.profile-wrapper
{
	width: 1247px;
	margin: 0 auto;
	background: url(img/profile.jpg);
	background-size: 100% 130%;
	background-repeat: no-repeat;
	padding: 50px;
	padding-right: 100px;
	padding-left: 100px;
}

.profile-wrapper > p
{
	font-size: 25px;
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 20px;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.profile-left
{
	width: 30%;
	border-top: 5px solid #ef7bd6;
	background-color: #FFFFFF;
	display: inline-block;
	margin-right: 15px;
	vertical-align: top;
	padding: 30px;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(100,100,100,0.75);
	-moz-box-shadow: 3px 3px 5px 0px rgba(100,100,100,0.75);
	box-shadow: 3px 3px 5px 0px rgba(100,100,100,0.75);
}

.profile-left > p:nth-child(2)
{
	margin-top: 10px;
	font-size: 23px;
	color: #73879c;
	text-align: center;
}

.profile-left > p:nth-child(3)
{
	margin-top: 5px;
	font-size: 15px;
	text-align: center;
	color: #a0adba;
}

.profile-left > div
{
	margin-top: 10px;
	border-top: 2px solid #d3d6da;
	border-bottom: 2px solid #d3d6da;
	padding-top: 20px;
	padding-bottom: 20px;
	max-height: 100px;
	min-height: 100px;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: auto;
}

.profile-left > div::-webkit-scrollbar {
    width: 8px;
}
 
.profile-left > div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.profile-left > div::-webkit-scrollbar-thumb {
  background-color: #ef7bd6;
  border-radius: 10px;
}

.profile-left > div > p
{
	font-weight: bold;
	margin-bottom: 9px;
	font-size: 15px;
	color: #73879c;
}

.profile-left > img
{
	padding: 5px;
	border: 5px solid #d3d6da;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	display: block;
	margin: 0 auto;
}



.profile-right
{
	width: 57%;
	height: 393px;
	border-top: 5px solid #69e4c5;
	background-color: #FFFFFF;
	display: inline-block;
	margin-left: 15px;
	vertical-align: top;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(100,100,100,0.75);
	-moz-box-shadow: 3px 3px 5px 0px rgba(100,100,100,0.75);
	box-shadow: 3px 3px 5px 0px rgba(100,100,100,0.75);
}

.profile-tabs
{
	width: 100%;
	margin-top: -5px;
	display: inline-flex;
}

.profile-tabs > button
{
	display: inline-block;
	width: 33.3%;
	font-size: 20px;
	padding: 10px;
	outline: none;
	border: 5px solid #69e4c5;
	border-top: none;
	cursor: pointer;
	color: #a0adba;
	font-weight: bold;
}

.profile-tabs > button:nth-child(2)
{
	border-right: none;
}

.profile-tabs > button:nth-child(2)
{
	border-right: none;
	border-left: none;
}

.profile-tabs > .active
{
	border: none;
	border: 5px solid #69e4c5;
	border-bottom: none;
	color: #69e4c5;
	background-color: #FFFFFF;
}

.other-body
{
	border-top: 2px solid #d3d6da;
	border-bottom: 2px solid #d3d6da;
	margin: 30px;
	height: 203px;
	padding: 30px;
	display: none;
}

.educ-body
{
	border-top: 2px solid #d3d6da;
	border-bottom: 2px solid #d3d6da;
	margin: 30px;
	height: 203px;
	padding: 30px;
}

.other-body > span
{
	font-size: 18px;
	color: #69e4c5;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 20px;
	margin-right: 5px;
}

.other-body > label
{
	font-size: 18px;
	color: #73879c;
}

.home-wrapper
{
	width: 1347px;
	height: 3930px;
	margin: 0 auto;
}

body
{
	zoom: reset;
	overflow-x: hidden; 
}

body::-webkit-scrollbar {
    width: 1.2%;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #40d0b2;
  border-radius: 10px;
}

.home-base
{
	background: url(img/nav_img1.jpg), url(img/nav_img2.jpg);
	background-size: 100% 25%, 100% 28%;
	background-position: top, bottom;
	background-repeat: no-repeat;
	width: 99.9%;
	height: 63.64%;	
}

.home-cont
{
	width: 1346px;
	height: 3930px;
	position: absolute;
    z-index: 1;
    overflow: hidden;
}
.nav
{
	background: -webkit-linear-gradient(50deg, rgba(255, 62, 203, .75), rgba(37, 233, 175, .75)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(50deg, rgba(255, 62, 203, .75), rgba(37, 233, 175, .75)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(50deg, rgba(255, 62, 203, .75), rgba(37, 233, 175, .75)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(50deg, rgba(255, 62, 203, .75), rgba(37, 233, 175, .75)); /* Standard syntax */
	width: 100%;
	height: 16.6%;
	padding-top: 2%;
    min-height: 16.6%;
    min-width: 100%;
    max-height: 16.6%;
    max-width: 100%;
    text-align: center;
}



.nav-cut {
  position: relative;
  text-align: center;
  margin-top: -60px;
  height: 120px;
  width: 50%;
}

.nav-cut:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 10;
  -webkit-transform: skew(0deg, 10deg);
  -moz-transform: skew(0deg, 10deg);
  -ms-transform: skew(0deg, 10deg);
  -o-transform: skew(0deg, 10deg);
  transform: skew(0deg, 10deg);
}
.nav-cut:after {
  content: '';
  position: absolute;
  top: 0;
  right: -101%;
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  -webkit-transform: skew(0deg, -10deg);
  -moz-transform: skew(0deg, -10deg);
  -ms-transform: skew(0deg, -10deg);
  -o-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
}​

.asd
{

}

.nav a
{
	font-size: 25px;
	padding-left: 10px;
	padding-right: 12px;
	color: #FFFFFF;
}
.nav a:nth-child(-n+3)
{
	border-right: 2px solid #FFFFFF; 
}

.info
{
	text-align: center;
	padding-top: 70px;
	height: 360px;
	background-color: #FFFFFF;
	padding-bottom: 70px;
}

.info p
{
	color: #afaaaa;
	font-size: 45px;
	font-weight: 900;
	margin-bottom: 35px;
}

.info > div
{
	text-align: justify;
	color: #afaaaa;
	padding-left: 10%;
	padding-right: 10%;
	width: 80%;
	margin: 0 auto;
	font-size: 26px;
	height: 220px;
}

.info > button
{
	background-color: #40d0b2;
	border: none;
	border-radius: 7px;
	color: #FFFFFF;
	font-size: 25px;
	width: 250px;
	height: 60px;
	cursor: pointer;
}
.vmo
{
	background-color: #2a3f54;
	height: 617px;
}

.vmo-col
{
	vertical-align: top;
	width: 29.29%;
	display: inline-block;
	padding-top: 70px;
	padding-left: 25px;
	padding-right: 25px;
}

.vmo-col p
{
	font-size: 40px;
	font-weight: 900;
	color: #40d0b2;
	text-align: center;
	margin-bottom: 40px;
}

.vmo-col > div
{
	color: #FFFFFF;
	font-size: 26px;
	text-align: justify;
}

.vmo:after
{
	position: absolute;
	top: 47.2%;
    left: 50%;
    margin-left: -50%;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 100px #2a3f54;
    border-left: solid 681px transparent;
    border-right: solid 680px transparent;
}

.bug
{

}


.chevron {
  position: relative;
  text-align: center;
  padding: 12px;
  margin-top: 41px;
  margin-bottom: 6px;
  height: 30px;
  left: -70px;
  width: 110%;
}


.chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 45%;
  background-color: #ff3ecb;
  opacity: .6;
  -webkit-transform: skew(-35deg, 8.5deg);
  -moz-transform: skew(-35deg, 8.5deg);
  -ms-transform: skew(-35deg, 8.5deg);
  -o-transform: skew(-35deg, 8.5deg);
  transform: skew(-35deg, 8.5deg);
}

.chevron:after 
{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 45%;
  background-color: #25e9af;
  opacity: .6;
  -webkit-transform: skew(35deg, -8.5deg);
  -moz-transform: skew(35deg, -8.5deg);
  -ms-transform: skew(35deg, -8.5deg);
  -o-transform: skew(35deg, -8.5deg);
  transform: skew(35deg, -8.5deg);
}​


.itsabug
{
	text-align: center;
	height: 310px;
	padding-top: 120px;
	padding-bottom: 10px;
	overflow: visible;
}

.news
{
	text-align: center;
	height: 310px;
	padding-top: 160px;
	padding-bottom: 40px;
	overflow: visible;
}

.news div
{
	color: #FFFFFF;
	font-size: 40px;
	width: 70%;
	height: 220px;
	margin: 0 auto;
}

.news button
{
	background-color: #b654ac;
	border: none;
	border-radius: 7px;
	color: #FFFFFF;
	font-size: 25px;
	width: 250px;
	height: 60px;
	cursor: pointer;
}
	
.map-nav
{
	background-color: #2a3f54;
	height: 90px;
	padding-left: 15%;
	padding-right: 15%;
}

.map-nav > div
{
	min-height: 135px;
	background-color: #2a3f54;
	position: absolute;
	width: 70%;
	padding-top: 25px;
	z-index: 10;
}


.map-controls
{
	width: 29.4%;
	padding-left: 15px;
	padding-right: 15px;
	display: inline-block;
	vertical-align: top;
	padding-top: 10px;
}

.map-controls:nth-child(-n+2)
{
	border-right: 2px solid #7e8995;
}	

.map-controls span
{
	font-size: 99px;
	color: #FFFFFF;
	margin-right: 18px;
}

.map-controls > div
{
	padding-top: 10px;
	display: inline-block;
	vertical-align: top;
}

.map-controls > div > p
{
	font-style: italic;
	color: #FFFFFF;
	font-size: 16px;
	margin-bottom: 20px;
}

.map-controls > div > button
{
	background-color: #40d0b2;
	width: 100px;
	height: 28px;
	border: none;
	border-radius: 10px;
	color: #2a3f54;
	font-size: 16px;
	float: right;
	cursor: pointer;
}


#map {
    height: 575px;
    width: 100%;
    z-index: 5;
}



.footer
{
	display: inline-flex;
}

.footer-left
{
	min-width: 540px;
	background-color: #2a3f54;
	height: 770px;
	padding-left: 30px;
	padding-top: 50px;
	vertical-align: top;
}

.footer-left p
{
	font-weight: 900;
	color: #FFFFFF;
	font-size: 40px;
	padding-left: 40px;
}

.footer-left ul
{
	padding-left: 40px;
	margin-top: 30px;
	list-style: none;
	color: #FFFFFF;
	font-size: 28px;
}

.copyright
{
	margin-top: 180px;
	width: 470px;
	height: 80px;
}

.copyright > img
{
	width: 80px;
}

.copyright-text
{
	display: inline-block;
	border-left: 2px solid #FFFFFF;
	height: 42px;
	vertical-align: top;
	margin-top: 15px;
	width: 353px;
	padding-left: 20px;
	margin-left: 10px;
	padding-top: 6px;
}

.copyright-text > p
{
	font-size: 15px;
	font-weight: normal;
	padding: 0px;
}

.footer-mid
{
	content: '';
	display: inline-block;
	width: 0;
	margin-left: -150px;
	height: 0;
	border-bottom: 800px solid transparent;
	border-right: 150px solid #44ddc2;
}


.footer-right
{
	min-width: 770px;
	background-color: #44ddc2;
	height: 770px;
	padding-top: 50px;
	vertical-align: top;
}

.footer-right p
{
	font-weight: 900;
	color: #FFFFFF;
	font-size: 40px;
	margin-bottom: 30px;
	margin-left: 30px;
}

.footer-right div
{
	display: inline-block;
	width: 280px;
	vertical-align: top;
	margin-left: 30px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: justify;
}

.footer-right button
{
	background-color: #b654ac;
	border: none;
	border-radius: 7px;
	color: #FFFFFF;
	font-size: 25px;
	width: 250px;
	height: 60px;
	cursor: pointer;
	float: right;
	margin-top: 100px;
	margin-right: 30px;
}